
/* Styling the add member screen */

.addMemberBtn , .viewMemberBtn{
    -fx-background-color: #929FB9;
    -fx-text-fill: white;
    -fx-font-size:16;
    -fx-border-weight: 5;
    -fx-border-color: white;
}

.addMemberBtn:hover , viewMemberBtn:hover{
    -fx-background-color: #929FCC;
    -fx-text-fill: white;
}

.mtextfield{
    -fx-font-size: 14;
}
.columns{
    -fx-font-size: 14;
}