
/*Styling the main window*/

.root{
-fx-background-color: #eae4ff;
-fx-font-size:16;
}

.borderPane{
-fx-background-color: #eae4ff;
}

.menuBar{
-fx-font-size:14;
}

.tab{
-fx-pref-width: 150;
-fx-pref-height: 50;
-fx-background-color: #eae4ff;
-fx-font-size:16;
-fx-border-width:2;
-fx-focus-color: transparent;
}

.tab:selected {
    -fx-border-color: white;
}

.bottomHBOX{
-fx-background-color: #d9d9d9;
-fx-border-color: #eae4ff;
}

.side-buttons{
-fx-background-color:#d9d9d9;
-fx-border-color: #eae4ff;
-fx-text-fill: #000000;
-fx-font-weight:bold;
}

.side-buttons:hover {
-fx-background-color:#929FB9;
-fx-text-fill: #FFFFFF;
}


.setup-button {
-fx-background-color:gray;
-fx-text-fill: #000000;
-fx-font-weight:bold;
}

.setup-button:hover {
-fx-background-color:black;
-fx-text-fill: #FFFFFF;
}


/*Styling the add book window*/

.addBookButtons{
-fx-background-color: #929FB9;
-fx-text-fill: white;
-fx-font-size:16;
-fx-border-weight: 5;
-fx-border-color: white;
}


.addBookButtons:hover {
-fx-background-color: #929FCC;
-fx-text-fill: white;
}


.data0.chart-pie { -fx-pie-color: teal; }
.data1.chart-pie { -fx-pie-color: cyan; }

/*.chart {
    -fx-pref-width: 150;
    -fx-pref-height: 150;
    -fx-min-width: 150;
    -fx-min-height: 150;
    -fx-max-width: 150;
    -fx-max-height: 150;
}

.chart-content {
    -fx-padding: 10;
}*/




