.root{
-fx-background-color: #eae4ff;
-fx-font-size:16;
}

.borderPane{
-fx-background-color: #eae4ff;
}

.menuBar{
-fx-font-size:14;
}

.tab{
-fx-pref-width: 150;
-fx-pref-height: 50;
-fx-background-color: #eae4ff;
-fx-font-size:16;
-fx-border-width:2;
-fx-focus-color: transparent;
}

.tab:selected {
    -fx-border-color: white;
}

.bottomHBOX{
-fx-background-color: #d9d9d9;
-fx-border-color: #eae4ff;
}

.side-buttons{
-fx-background-color:#d9d9d9;
-fx-border-color: #eae4ff;
-fx-text-fill: #000000;
-fx-font-weight:bold;
}

.side-buttons:hover {
-fx-background-color:#929FB9;
-fx-text-fill: #FFFFFF;
}

.setup-button {
-fx-background.color:gray;
-fx-text-fill: #000000;
-fx-font-weight:bold;
}

.setup-button:hover {
-fx-background-color:black;
-fx-text-fill: #FFFFFF;
}